<div id='sightings' class='jumbotron jumbotron-fluid'>
  <h3>Sightings</h3> 
</div>

<div id='observations' class='jumbotron'>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr text-align=center >
        <th>Sighted At</th>
        <th>Description</th>
        <th>Pic</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @observations.each do |obs| %>
        <tr> 
          <td><%= obs.sighted_at.strftime("%m/%d/%y %H:%M UTC")%></td>
          <td><%= obs.description%></td>
          <td>  <% if !obs.pic.nil? %>
              <img height=200px width=auto src=<%= obs.pic%>>
            <% end %>
          </td>
          <td>
            <%= link_to 'Edit', edit_observation_path(obs), class: "btn btn-default btn-primary"  %>
            <%= link_to 'Delete', obs, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary" %>
          </td>

        </tr>
      <% end %>
    </tbody>


  </table>
</div>

