<div id='observations' class='jumbotron'>
  <h3>Observations</h3> 
</div>

<div id='observations' class='jumbotron'>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr text-align=center >
        <th>Sighted At</th>
        <th>Description</th>
        <th>Pic</th>
      </tr>
    </thead>

    <tbody>
      <% @observations.each do |obs| %>
        <tr> 
          <td><%= obs.sighted_at%></td>
          <td><%= obs.description%></td>
          <td>  <% if !obs.pic.nil? %>
              <img height=200px width=auto src=<%= obs.pic%>>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>


  </table>
</div>

<%# <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_observation_path(@observation) %1></button> %>
<%# <button type="button" class="btn btn-primary"><%= link_to 'Back', observations_path %1></button> %>
