<div id='sightings' class='jumbotron'>
  <h2><strong>Sightings:</strong></h2>
  <p>Text a picture and description to (919)289-8440 or: </p>
  <%= link_to 'Post Here', new_observation_path(@observation), class: "btn btn-default btn-primary"  %>
</div>

<div id='observations' class='jumbotron'>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr text-align=center>
        <th>Sighted At</th>
        <th>Description</th>
        <th>Pic</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @observations.each do |obs| %>
        <tr class='entry' > 
          <td><%= obs.sighted_at.strftime("%m/%d/%y %H:%M UTC")%></td>
          <td><%= obs.description%></td>
          <td>  <% if !obs.pic.nil? %>
              <img height=200px width=auto src=<%= obs.pic%>>
            <% end %>
          </td>
          <td>  <% if policy(obs).update?%>
              <%= link_to 'Edit', edit_observation_path(obs), class: "btn btn-default btn-primary"  %>
              <%= link_to 'Delete', obs, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary" %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>


  </table>
</div>

