<div class="jumbotron">
  <h4> New Sighting</h4>
  <%= bootstrap_form_for @observation, url: observations_path(@observation) do |f| %>
    <%= f.text_field :description %>
    <%= f.text_area :pic %>
    <%= f.hidden_field :created_by, value: current_user.id %>
    <%= f.hidden_field :sighted_at, value: Time.now %>
    <%= f.hidden_field :phone, value: current_user.phone %>
    <button class="btn btn-primary">Submit</button>
  <% end %>

  <%= link_to 'Back', root_path  %>
</div>
