<h1>Observation updated!</h1>
<div id='observations' class='jumbotron'>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr text-align=center>
        <th>Sighted At</th>
        <th>Description</th>
        <th>Pic</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <tr class='entry'> 
          <td><%= @observation.sighted_at.strftime("%m/%d/%y %H:%M UTC")%></td>
          <td><%= @observation.description%></td>
          <td>  <% if !@observation.pic.nil? %>
              <img height=200px width=auto src=<%= @observation.pic%>>
          </td>
          <td>
            <%= link_to 'Back', root_path, class: "btn btn-default btn-primary"  %>
            <%= link_to 'Delete', @observation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary" %>
          </td>

        </tr>
      <% end %>
    </tbody>


  </table>
